/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v27-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v27-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v27-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v27-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v27-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v27-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  .html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit
}
body{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    background-color: #FBF7F3;
}
.wrapper{
    max-width: 1500px;
    margin: 0 auto;
}
.header-first{
    background: #FBF7F3;
    border-radius: 0px;
}
.header-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 81px;
}
.header-items{
    display: flex;
    flex-wrap: wrap ;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: 663px;
    background-color: white;
    border-radius: 9999px;

}
.button{
    margin-right: 42px;
    background-color: white;
    border: 0px;
}
.last{
    margin-right: 0px;
    height: 40px;
    width: 135px;
    background-color: #7140EB;
    border-radius: 9999px;
    color: #FBF7F3;
}
.first{
    margin-left: 40px;
}
.intro_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.p_intro{
    margin-top: 26px;
    height: 74px;
    width: 380px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #FBF7F3;
}
.intro-1{
    background-size: 100%;
    background-image: url(../img/Rectangle.jpg) ;
    height: 420px;
}
.button-intro{
    margin-top: 24px;
    background-color: #7140EB;
    border-radius: 9999px;
    border: 0;
    height: 45px;
    width: 186px;
    color: #FBF7F3;
    margin-bottom: 78px;
}
.heading-intro{
    margin-top: 83px;
    font-size: 80px;
    line-height: 90px;
    text-align: center;
    letter-spacing: 2.7px;
    color: #FBF7F3;
}
.intro-2{
    background-image: url(../img/intro-2.jpg);
    height: 840px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.heading_intro_card_2{
    font-size: 93px;
    line-height: 112px;
    text-align: right;
    letter-spacing: 5.625px;
    color: #FBF7F3;
    padding-top: 81px;
    padding-right: 52px;
}
.p_intro_card_2{
    font-size: 29px;
    line-height: 28px;
    text-align: right;
    color: #FBF7F3;
    margin-top: 6px;
    margin-right: 45px;                     
}
.h_main{
    font-size: 82px;
    line-height: 81px;
    letter-spacing: 2.7px;
    color: #49464F;
    height: 162px;
    width: 420px;
    text-align: center;
    margin-bottom: 46px;
}
.p_main{
    font-size: 20px;
    line-height: 23px;
    color: #8172A2;
    text-align: center;
    height: 142px;
    width: 312px;
    
}
.main_content{
   display: flex;
   flex-direction: row;
}
.main_text_left{
    margin:349px   72px 0px 150px ;
}
.bike_pic{
    margin: 105px 14px 0px 0px;
}
.main_ul{
    margin: 435px 151px 0px 0px;
}
.P_main_2{
    font-size: 12px;
    line-height: 14px;
    color: #49464F;
}
.li1{
    display: flex;
    flex-wrap: wrap;
}
.list_main{
    font-size: 20px;
    line-height: 23px;
    color: #8172A2;
}
li{
    margin-bottom: 42px;
}
.P_main_2{
    margin-bottom: 33px;
}
.h_section_1{
    font-size: 79px;
    line-height: 81px;
    text-align: center;
    letter-spacing: 2.7px;
    color: #49464F;
    margin-bottom: 22px;
}
.p_section_2{
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #8172A2;
}
.img_bike{
    text-align: center;
}
.bike_parts{
    display: flex;
    margin-top: 56px;
    margin-bottom: 162px;
    justify-content: center;
}

.section_bike_parts{
    margin-right: 127px;
}
.p_bike_parts{
    width:160px ;
    font-size: 20px;
    line-height: 23px;
    color: #49464F;
}
.bike_parts_img{
    width:321px ;
    height: 214px;
    margin-bottom: 22px;
    margin-top:12px ;
}
.h_bike_parts{
    font-size: 30px;
    line-height: 36px;
    color: #2E2C34;
}
.section_bike_parts_r{
    margin-right: 0px;
}
.section_items{
    background-image: url(../img/background_bike.jpg) ;
    background-size: 100%;
    margin-bottom: 242px;
}
.article_text{
    margin-top: 188px;
    margin-bottom: 174px;
    margin-left:215px ;
}
.h_article_text{
    font-size: 82px;
    line-height: 81px;
    letter-spacing: 2.7px;
    color: #49464F;
}
.p_article_text{
    font-size: 19px;
    line-height: 22px;
    color: #8172A2;
    width: 310px;
    margin-top:40px ;
}
.sections{
    display: flex;
    justify-content: center;
}
.sections_items{
    margin-right: 64px;
}
.p_sections_items{
    margin-top: 77px;
    width: 294px;
    font-size: 23px;
    line-height: 27px;
    color: #49464F;
}
.last_sec{
    display: flex;
    justify-content: space-between;
}
.h_last_sec{
    text-align: center;
    font-size: 71px;
    line-height: 81px;
    letter-spacing: 2.7px;
    color: #49464F;
    margin-top: 155px;
    margin-bottom: 34px;
}
.p_last_sec{ 
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    color: #49464F;
}
.last_sec_text{
    width: 500px;
}